@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script:400,700');

body {
  background-image: url("../img/bgshopkins.jpg");
  /* Image is centered vertically and horizontally at all times */
  background-position: top center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url("../img/bgshopkins.jpg");
  }
}

p {
  text-align:justify;
  font-size: 12px;
}

nav {
  text-align: center;
  font-weight: bold;
  vertical-align: text-bottom;
  font-size: 35px;
  font-family: 'Luckiest Guy', cursive;
  padding: 5px;
}

nav a {
  color: #f500c7;
  text-shadow: 5px 5px black;
  text-decoration: none;
  vertical-align: text-bottom;
}

h1 {
  text-align: center;
  background-color: #222;
  color: #ccc;
  padding: 1em;
  /*font-family: 'Roboto', sans-serif;*/
}

h2 {
	/*color: black;*/
	text-align: center;
	/*padding: 1em;*/
	font-size: 35px;
	/*font-family: 'Caveat Brush', cursive;*/
  font-family: 'Oleo Script', cursive;
	letter-spacing: 1px;

  color: #f500c7;
  text-shadow: 3px 3px black;
  text-decoration: underline;
}

h3 {
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: 'Caveat Brush', cursive;
	letter-spacing: 1px;
}

p {
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: 'Caveat Brush', cursive;
	letter-spacing: 1px;
}

div {
	text-align: center;
}

main {
  display: inline-block;
}

main img {
  display: inline block;
  /*margin: auto;*/
  padding: 0;
  margin: 0;

}

img {
  border: 5px solid purple;
  border-radius: 4px;
  /*padding: 5px;*/
  width: 120px;
  height: 120px;
  padding: 0;
  margin: 0;

}

aside {
  display: inline-block;
  width: 21%;
  vertical-align: top;
  background-color: #cfc;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px #222;
}

aside ul {
  padding-left: 17px;
}

footer {
	text-transform: uppercase;
	padding: 25px;
	background-color: #0d2c40;
	color: white;
	font-family: "Droid Serif", serif;
	font-size: 16px;
	letter-spacing: .08em;
	font-weight: 500;
	/*position: absolute;
  bottom: 0;
  width: 100%;*/
}

button {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
	background-color: #00a6b3;
  	border: none;
  	color: white;
  	padding: 10px;
  	border-radius: 15px;
  	padding-right: 14px;
  	padding-left: 14px;
}

button:active {
	outline: none;
	border: none;
}

button:focus { 
	outline: none; 
}

a { /* Instructions Game */
	text-decoration: none;
	/*font-family: "Raleway", sans-serif;*/
	/*color: #f15b31;*/
	letter-spacing: 1px;
	font-weight: 600;
	/*font-size: 18px;*/
	text-transform: uppercase;
	padding: 20px;
	border-bottom: 2px solid transparent;
	/*margin: auto;*/
}

a: hover {
	top: 0;
	border-color: white;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: lightblue; 
}

/** CLASSES **/

.imgCongrats {
	width: 900px;
	height: 500px;
}

.pClass {
	color: black;
	text-align: center;
	/*padding: 1em;*/
	font-size: 30px;
	font-family: 'Caveat Brush', cursive;
	letter-spacing: 1px;
}

.imgrow {
	display: flex;
	padding: 0;
	margin: 0;
}

.imglevel6up {
  width: 100px;
  height: 100px;	
}

.imgbutton {
	border: 0;
	width: 160px;
	height: 60px;
	padding-left: 10px;
}

span.guessword {
  display: inline; /* the default for span */
  /*width: 200px;
  height: 200px;*/
  /*padding: 10px;*/
  border: 2px solid green;
  /*background-color: lightblue;*/
  /*line-height: 50px;*/
  font-size: 100px;
  /*color: lightblue;*/
  border-radius: 0.2em;

}

span.answeredword {
  display: inline; /* the default for span */
  /*width: 200px;
  height: 200px;*/
  /*padding: 10px;*/
  border: 2px solid green;
  /*background-color: lightblue;*/
  /*line-height: 50px;*/
  font-size: 100px;
  color: black;
  border-radius: 0.2em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.afooter {
	font-size: 16px;
	text-align: center;

}

.name {
	color: #f15b31;
	font-weight: 700;
}

.contactdetails {
	font-family: "Droid Serif", serif;
	text-transform: none;
	padding: 0px;
	text-decoration: none;
	color: orange;
}

.instruct {
	text-align: justify;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 0px;
}

.forminput {
	font-family: "Droid Serif", serif;
	font-size: 18px;
	text-align: justify;
	padding-bottom: 20px;
}

.gameinfo {
	text-align: justify;
	/*padding-right: 50px;
	padding-left: 50px;*/
	padding-bottom: 0px;
	background: white;
}

.hidden {
	color: white;
	background-color: white;
	outline: none;	
	border: none;
	padding: 0;
}

.gamepage {
	background: white;
	padding:3px 15px;
}

.inputbutton {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
	background-color: #00a6b3;
  	border: none;
  	color: white;
  	padding: 10px;
  	padding-right: 15px;
  	padding-left: 15px;
  	border-radius: 15px;
  	padding-bottom: 10px;
}

.inputbutton:focus { 
	outline: none; 
}